@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --background-color: #232323;
    --background-color-alt: #1f0508;
    /* --primary-color: #c92037; /* Kardinalrot */
    /* --primary-color: #b60006; /* Composer Magazine*/
    --primary-color: #cd1f36;
    --secondary-color: #741220;
}

body {
    background: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    color: #FFFDEE;
}

.title {
    text-align: center;
}

.title h1 {
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 0;
}
